<div class="container">
  <form #clientForm="ngForm">
    <h2 class="text-center">{{ isEdit ? "Edit Client" : "Add Client" }}</h2>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="First name"
        aria-label="First name"
        [(ngModel)]="client.firstName"
        name="firstName"
        #firstName="ngModel"
        id="firstName"
        required
      />
      <div
        *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
        class="alert"
      >
        <div *ngIf="firstName.errors?.['required']">
          First name is required.
        </div>
      </div>
    </div>
    <br />
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Last name"
        aria-label="Last name"
        [(ngModel)]="client.lastName"
        name="lastName"
        #lastName="ngModel"
        id="lastName"
        required
      />
      <div
        *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
        class="alert"
      >
        <div *ngIf="lastName.errors?.['required']">Last name is required.</div>
      </div>
    </div>
    <br />
    <div class="form-group">
      <input
        type="number"
        class="form-control"
        placeholder="Number of Coffees"
        [(ngModel)]="client.purchasedCoffees"
        name="purchasedCoffees"
        #purchasedCoffees="ngModel"
        id="purchasedCoffees"
        required
      />
    </div>
    <br />
    <div class="clearfix">
      <button class="btn btn-success btn-space" (click)="onSubmit(clientForm)">
        {{ isEdit ? "Edit Client" : "Add Client" }}
      </button>
      <button class="btn btn-primary" (click)="return()">Back</button>
    </div>
  </form>
</div>
