.tbl-center {
  margin: auto;
  padding: 15vh;
}

.btn-add-client {
  padding-bottom: 25px;
}

.back-btn {
  padding-top: 25px;
}

.no-data-text {
  text-align: center;
  padding-top: 25px;
  color: white;
}